body{
	margin: 0;
}

header {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	background-color: green;
	padding: 30px;
}

header h1{
	padding: 0;
	margin: 0;
}

.col-md-4 {
	width: 33%;
	float: left;
	margin: auto;
	padding: 7px 10px 10px 25px;
	box-sizing: border-box;
}

.col-md-4 img {
	width: 100%;
}

	