body{
	margin: 0;
	font-family: sans-serif;
}

header {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	background-color: green;
	padding: 30px;
	color: white;

}

h1 {
	font-weight: 300;
}

.col-md-4 {
	width: 33%;
	float: left;
	margin: auto;
	padding: 7px 10px 10px 25px;
	box-sizing: border-box;
}

.col-md-4 img {
	width: 100%;
}

@media (max-width: 480px){
	
	header {
	box-sizing: border-box;
	font-size: 3vh;
	padding: 0;
	height: 40vh;
	}

	header h1 {
		margin-top: 0px;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.col-md-4 {
		width: 100%;
		font-size: 5vw;
		float: left;
		padding: 0px;
		padding-left: 25vw;
		padding-right: 25vw;
		padding-top: 30px;
		box-sizing: border-box;

	}

}